- @child = Child.first

.child-header
  .headshot= image_tag(@child.headshot.url)
  .edit= link_to('Edit')
  .text
    %h1
      =h @child.name
      %span.header_link
        (
        = link_to('Back to my page', :action => '1')
        )

    .meta
      Arrived, from Arusha

    .child-visits
      %h2 Case History
      %ul
        %li.event
          Arrived at Amani on 13 Jul 2009
        %li
          .date 20 Aug 2009
          .notes Heatlhy
        %li
          .date 27 Aug 2009
          .notes Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %li.event
          Reunified on 28 Aug 2009
        %li
          .date 2 Sep 2009
          .notes Still in school
        %li.scheduled
          .date 15 Sep 2009
          .notes
            Scheduled home visit
            (
            = link_to('Change')
            )

  / - form_for(HomeVisit.new, :url => '/') do |f|
  /   = f.label :happened_on
  /   = f.text_field :happened_on
  /   %br
  /   = f.label :notes
  /   = f.text_area :notes
  /   %br
  /   = f.submit "Record visit"
