@import constants.sass

!loading_width = 81px
!loading_padding = 5px
!loading_spinner_size = 16px

#ajax-loading
  display: none
  position: absolute
  right: 0
  top: 0
  background-color: black
  background-image: url('/images/ajax-spinner.gif')
  background-repeat: no-repeat
  background-position= !loading_width - !loading_spinner_size + !loading_padding center
  width= !loading_width - !loading_spinner_size
  color: white
  padding= !loading_padding
  padding-right= !loading_padding + !loading_spinner_size

body
  margin: 3em auto
  position: relative
  width= !page_width

h1
  font-size: 2.5em
  .actions
    font-size: 0.4em
    &:before
      content: "("
    &:after
      content: ")"
    a
      color: inherit

h2
  font-size: 1.5em
  margin-bottom: 0.25em

.headshot
  position: absolute
  top: 0
  right: 0

  img
    border: 1px solid black

.details
  margin-bottom: 1em

!headshot_size = 150px

.timeline
  margin-bottom: 1em
  width= !page_width - !headshot_size - 12px
  td
    padding: 0.25em
  td.date
    width: 7em
  
.event
  background-color: black
  color: white
