@import constants.sass

!loading_width = 81px
!loading_padding = 5px
!loading_spinner_size = 16px

#ajax-loading
  display: none
  position: absolute
  right: 0
  top: 0
  background-color: black
  background-image: url('/images/ajax-spinner.gif')
  background-repeat: no-repeat
  background-position= !loading_width - !loading_spinner_size + !loading_padding center
  width= !loading_width - !loading_spinner_size
  color: white
  padding= !loading_padding
  padding-right= !loading_padding + !loading_spinner_size

!headshot_size = 150px

body
  margin: 3em auto
  width= !page_width

a
  color: inherit

h1
  font-size: 2.5em
  .actions
    font-size: 0.4em
    &:before
      content: "("
    &:after
      content: ")"

h2
  font-size: 1.5em
  margin-bottom: 0.25em

.headshot.show
  position: absolute
  top: 0
  right: 0

  img
    border: 1px solid black

.details
  margin-bottom: 1em

form#edit-child
  min-height: 9em
  position: relative
  .edit
    display: none
  h1
    input
      font: inherit
      width: 10em
  .social_worker
    margin-bottom: 0.5em

  #inline-edit-links
    margin-right: 1em
    position: absolute
    right= !page_width
    text-align: right
    top: 1.25em
    #cancel-link
      display: block
      margin-bottom: 0.5em

.timeline, .scheduled_visits
  margin-bottom: 1em
  width= !page_width - !headshot_size - 12px
  td
    padding: 0.25em
  td.date
    width: 7em

.event
  background-color: black
  color: white

.scheduled_visits
  td
    vertical-align: top

    .date-field
      display: none
      height: 0.9em
      width: 90%
