@import constants.sass

!loading_width = 81px
!loading_padding = 5px
!loading_spinner_size = 16px

#ajax-loading
  display: none
  position: absolute
  right: 0
  top: 0
  background-color: black
  background-image: url('/images/ajax-spinner.gif')
  background-repeat: no-repeat
  background-position= !loading_width - !loading_spinner_size + !loading_padding center
  width= !loading_width - !loading_spinner_size
  color: white
  padding= !loading_padding
  padding-right= !loading_padding + !loading_spinner_size

body
  margin: 3em auto
  width= !page_width

a
  color: inherit

h1
  font-size: 2.5em
  .actions
    font-size: 0.4em
    &:before
      content: "("
    &:after
      content: ")"

h2
  font-size: 1.5em
  margin-bottom: 0.25em

h3
  color: white
  background-color: black
  margin-bottom: 0.25em

h4
  background-color: gray
  color: white

h3, h4
  font-family= !sans_serif
  font-size: 0.75em
  padding: 0.25em

!column_spacing = 18px

.section
  margin-bottom: 1em

.scheduled, .other
  float: left
  width= !page_width / 2 - !column_spacing

.upcoming, .other
  ul:last-child
    // Large drop target needed for last ul
    min-height: 2em

.scheduled
  margin-right= !column_spacing

.tasks
  clear: both
  li
    font-size: 1.25em
    list-style: disc
    margin-left: 1.5em

.visits
  ul
    padding-top:    0.25em
    padding-bottom: 0.25em

!visit_headshot_size = 40px
!visit_padding       =  6px
li.scheduled_visit, li.recommended_visit, .child-tasks li
  background-color: #ffc
  padding=       !visit_padding
  margin-bottom= !visit_padding / 2
  min-height=    !visit_headshot_size
  position: relative

  &:last-child
    margin-bottom: 0

  .headshot
    position: absolute
    top=  !visit_padding
    left= !visit_padding

    img
      width=  !visit_headshot_size
      height= !visit_headshot_size

  .heading, .meta
    margin-left= !visit_headshot_size + !visit_padding
    position: relative

  .heading
    .name
      display: inline-block
      font-size: 1.5em
      margin-right: 3.5em
    .actions
      position: absolute
      top: 0.4em
      right: 0

  .meta
    .location
      position: absolute
      right: 0
    form
      position: absolute
      right: 0
      bottom: 0

.new-child
  form
    li
      margin-bottom: 0.25em
    label
      display: inline-block
      width: 60px
    input[type=submit]
      margin-left: 64px
