@import constants.sass

body
  background-color= !medium_light_brown

.page
  margin: 2em auto
  width= !page_width

#day-selector
  background-color= !blue
  position: absolute
  z-index: 100
  //display: none
  border= solid 1px !dark_blue
  padding: 5px
  padding-right: 0

  a
    display: inline-block
    background-color= !dark_blue
    color= !white
    font-family= !sans_serif
    font-size: 0.7em
    font-weight: normal
    padding: 5px
    margin-right: 5px
    text-decoration: none

.hello
  h1
    color= !dark_brown
    font-size: 8em
    margin-bottom: 0.16em
    text-align: center

  h2
    color= !very_very_light_brown
    font-size: 2em
    margin-bottom: 0.5em
    text-align: center

ul.caregivers
  text-align: center

  li
    display: inline-block
    margin: 0 1em 1em 0
    a
      color= !dark_brown
      display: block
      padding-bottom: 0.5em
      text-decoration: none

.header_link
  font-size: 16px
  a
    color: inherit


h1
  color= !dark_brown
  font-size: 3em

.visits
  position: relative

  .recommended
    position: absolute
    right: 0
    top: 0

  .scheduled, .recommended
    width= !page_width / 2 - 6px

    h2
      color= !very_very_light_brown
      font-size: 2em

    h3
      background-color= !dark_brown
      color= !light_brown
      font-family= !sans_serif
      font-size: 0.75em
      margin-bottom: 0.34em
      padding: 0.25em

    ul
      min-height: 38px
      li
        background-color= !light_brown
        color= !dark_brown
        height: 38px
        padding: 0.25em
        margin-bottom: 0.25em
        .image
          float: left
          margin-right: 0.25em
        .details
          float: left
        .location
          float: right
          padding-top: 1.5em
        .name
          color= !black
          font-size: 1.5em

.tasks
  margin-top: 1em
  h2
    color= !very_very_light_brown
    font-size: 2em
  ul
    background-color= !very_light_brown
    font-size: 1.5em
    padding: 1em
    li
      a
        color= !dark_brown

.child-header
  color= !dark_brown
  position: relative
  img
    border= "1px" "solid" !dark_brown
  .edit
    margin-top: 1em
    a
      color: inherit
  .text
    position: absolute
    top: 0
    left: 162px

.child-visits
  margin-top: 1.5em
  h2
    color= !very_very_light_brown
    font-size: 2em
    margin-bottom: 0.25em
  ul
    li
      background-color= !very_light_brown
      color= !dark_brown
      padding: 0.25em
      margin-bottom: 0.25em
      .date
        float: left
        width: 6em
      .notes
        margin-left: 6em
    li.event
      background-color= !dark_brown
      color= !light_brown
      font-family= !sans_serif
      font-size: 0.75em
      margin-bottom: 0.34em
      padding: 0.25em
    li.scheduled
      background-color= !light_brown
      font-style: italic
      a
        color: inherit
