body
  background-color: #337
  
.hello
  margin: 2em auto
  width: 740px
  
h1
  color: #ccf
  font-size: 6em
  margin-bottom: 0.16em
  
h2
  color: #fff
  font-size: 2em
  margin-bottom: 0.5em
  
li.caregiver
  display: inline-block
  margin: 0 1em 1em 0
  a
    color: #fff
    display: block
    padding-bottom: 0.5em
    text-decoration: none