!sans_serif = "Century Gothic", Verdana, Arial, "sans-serif"
!serif = Constantia, Georgia, "Times New Roman", serif

!page_width = 800px

!black = #000
!blue = #9bc
!dark_blue = #225
!dark_brown = #311
!light_brown = #965
!light_blue = #bef
!light_gold = #fc6
!light_red = #f54
!medium_brown = #633
!medium_light_brown = #784840
!red = #911
!very_light_blue = #e8f4ff
!very_light_brown = #caa
!very_very_light_brown = #ecc
!white = #fff

body
  font-family= !serif

strong
  font-weight: bold

.badge
  background-color= !red
  color= !white
  margin-left: 0.5em
  padding: 0 0.25em

.centered
  margin: auto
  position: relative
  width= !page_width

.grouped
  position: relative

#staging
  background-color: #000
  border-top: 5px dashed #cc0
  bottom: 0
  color: #cc0
  padding: 2em 0
  position: fixed
  width: 100%
  z-index: 10
  a
    color: #cc0
    font-weight: bold

#flash
  .error
    background-color= !light_red
    padding: 0.5em 0
  .notice
    background-color= !light_gold
    padding: 0.5em 0

#header
  background-color= !light_brown
  color= !dark_brown
  padding-top: 1em

  #title
    font-size: 2em
    a
      color= !dark_brown
      text-decoration: none

  #locales
    position: absolute
    bottom: 0
    right: 0
    li
      display: inline
      a
        background-color= !light_brown
        color= !dark_brown
        display: inline-block
        padding: 0.25em
        text-decoration: none
        &:hover
          background-color= !very_light_brown

  #navigation
    margin: 1em 0 0
    li
      display: inline

      a
        background-color= !medium_brown
        color= !very_light_brown
        display: inline-block
        padding: 0.5em 1em
        text-decoration: none

      a:hover
        background-color= !medium_light_brown
        color= !white

      a.current, a.current:hover
        background-color= !white
        color= !black

#main
  margin-bottom: 7em
  padding-top: 1em
  padding-bottom: 1em

  #subnavigation
    li
      display: inline
      a
        background-color= !light_blue
        border= 1px solid !blue
        color= !dark_blue
        display: inline-block
        padding: 0.5em 1em
        text-decoration: none
      a:hover
        background-color= !very_light_blue
      a.current, a.current:hover
        background-color= !white
        border= 1px solid !white
        color= !black

  .actions
    background-color= !light_blue
    border= 1px solid !blue
    margin-bottom: 1em
    padding: 1em

  h1
    font-size: 2em
    margin: 0.5em 0

  h2
    font-size: 1.7em
    margin: 1em 0 0.5em

  h3
    font-size: 1.4em
    margin: 0.5em 0


  form
    .field
      margin-top: 1em
      label
        display: block
      label.flow
        display: inline-block

    .submit
      background-color: #eee
      padding: 0.5em
      margin-top: 1.5em

    .fieldWithErrors
      color= !red

      input, select
        outline= 2px solid !light_red

    .formError
      color= !red
      display: inline

  .headshot_partial
    display: inline-block
    margin-right: 1em
    margin-bottom: 1em
    vertical-align: top
    width: 156px

  img.headshot
    border= 3px solid !light_brown
    display: block
    margin-bottom: 0.5em

  .secondary
    .headshot_partial
      width: 110px
      img.headshot
        height: 75px
        width: 75px

  table.timeline
    td
      padding: 0.25em

  table.task_list
    width: 100%

    tr
      background-color= !very_light_blue
      border-bottom= 3px solid !white
    tr:hover
      background-color= !white

    td
      a
        color= !black
        display: block
        padding: 0.5em
        text-decoration: none

    td.detail
      font-size: 80%
      padding: 0.5em
      width: 10em

    td.due
      font-size: 80%
      text-align: center
      padding: 0.5em
      width: 10em
    td.due.past
      background-color: #ffc8c8
    td.due.present
      background-color: #fda
    td.due.future
      background-color: #e0e0f0
