%li[visit]{ 'data-id' => visit.id }
  .headshot= link_to image_tag(visit.child.headshot.url, :size => '40x40'), visit.child
  .heading
    %span.name= link_to h(visit.child.name), visit.child
    %span.actions
      = link_to("Completed", complete_scheduled_visit_path(visit), :method => :put) if visit.is_a?(ScheduledVisit)
  .meta
    %span.comment= t(*comment_for(visit))
    %span.location=h visit.child.location
