%h1 New Child

- form_for @child do |form|
  .field
    = form.label :name
    = form.text_field :name, :autocomplete => 'off'
    = form.error_message_on :name
  .submit
    = form.submit 'Save New Child'
