%h1 Potential Duplicates Found

%h2 Did you mean one of these children?
= render @child.potential_duplicates

- form_for @child do |form|
  .hidden
    = form.hidden_field :name
  .submit
    Or, if you're sure,
    = form.submit "Create a New Case File for #{h @child.name}", :name => 'child[ignore_potential_duplicates]'