%h1= t('tasks.unassigned_children.title')

%table.task_list
  - @children.each do |child|
    %tr
      %td= link_to child.name, edit_child_social_worker_path(child)
      = due_date_td child.created_at.to_date
