= render :partial => 'tasks/subnavigation'
%h1= t('tasks.home_visits.title')

%table.todo_list
  - @children.each do |child|
    %tr
      %td= link_to child.name, new_child_home_visit_path(child)
      = due_date_td 2.weeks.since(child.arrivals.first.happened_on)
