- form_for @arrival do |f|
  - f.fields_for :child do |child_f|
    .field
      = child_f.label :name
      = child_f.text_field :name

  .field
    = f.date_select :happened_on
  .submit
    = f.submit 'Save'
