%h1
  = link_to @child.name, @child

%h2 Arrival

- form_for [@child, @arrival] do |form|
  .field
    = form.label :happened_on, 'Arrived on'
    = form.date_select :happened_on
  .submit
    = form.submit 'Save'
