%h1= @caregiver.name

= image_tag @caregiver.headshot.url, :class => 'headshot'

%ul
  %li= link_to t('caregivers.edit.link'), edit_caregiver_path(@caregiver)
  %li= link_to t('caregivers.headshot.edit.link'), edit_caregiver_headshot_path(@caregiver)
