!!! XML
!!!

%html{html_attrs}
  %head
    = stylesheet_link_tag 'reset', controller_name
    = yield(:head)
    - js 'change_locale'
    = javascript_tags
    - other_locales.each do |code, name|
      %link{ :rel => 'alternate', :hreflang => code, :title => name, :href => url_for(:locale => code), :class => 'locale' }

  %body
    = yield

    #ajax-loading
      Working

    :javascript
      $(function() {
        $('#ajax-loading').ajaxStart(function() {
          $(this).fadeIn();
        });

        $('#ajax-loading').ajaxStop(function() {
          $(this).fadeOut();
        });
      });
