- content_for :subnavigation do
  %ul#subnavigation
    %li= link_to_with_current_full_path badged(t('tasks.unrecorded_arrivals.tab'), Child.unrecorded_arrivals.count), unrecorded_arrivals_tasks_path
    %li= link_to_with_current_full_path badged(t('tasks.home_visits.tab'), Child.upcoming_home_visits.count), upcoming_home_visits_tasks_path

= render :file => 'layouts/application'
